.wrapper {
    margin: auto;
    width: 860px;
  }
  body {
    font-family: 'ABeeZee';font-size: 22px;
}
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 10px;
  }
  
  header {
    background-color: #293243;
    color: #ffffff;
  }
  .columnContainer {
      display: flex;
      flex-direction: column;
  }
  footer {
    background-color: #293243;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0%;
    width: 120%;
    left: 0;
  }
  
  header h1 {
    text-align: center;
    margin-top: 0;
    font-size: 13px;
    
  }
  
    
  }

  .body {
    margin: 130px;
    text-align: ce;
  }
  .Inicio {
    color: white;
  }
  
  nav.mainMenu a {
    background-color: #293243;
    color: rgb(123, 123, 123);
    text-decoration: none;
    padding: 10px 3%;
    width: 26.9%;
    display: inline-block;
    text-align: center;
    transition: background-color 0.1s, color 0.1s;
    border-radius: 50px;
  }
  
  nav.mainMenu a:hover {
    background-color: #293243;
    color: #ffffff ;
  }
  
  .backtotop {
    position: fixed;
    bottom: 30px;
    right: 5%;
    transition: transform 0.3s;
    background-color: rgb(1, 255, 65);
    padding: 10px;
  }

  .backtotop:hover {
    /* transform: rotate(1080deg); */
    transform: scale(1.3); 
    /* translate: (-40px, -80px); */
  }
  
  .relative {         
    position: relative;
  }
  
  .absolute {
    position: fixed;
    top: 535px;
    left: 40px;
    background-color: chartreuse;
    padding: 10px;
  }

  article.post img,
article.post video,
article.post iframe {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

main {
    margin-top: 100px;
}

.sectionsContainer,
.articlesContainer {
  display: flex;
  flex-direction: column;
}


@media screen and (min-width: 376px) {
  .wrapper {
    width: 376px;
  }

  .sectionsContainer {
    flex-direction: row;
  }

  section {
    margin: 0 3%;
  }
}


@media screen and (min-width: 961px) {
  .wrapper {
    width: 960px;
  }

  .articlesContainer {
    flex-direction: row;
  }
} 